# Ignore everything in this directory
*
# Except this file
!.gitignore
!README.md
!.tmux.conf
!.SpaceVim.d/
!.SpaceVim.d/init.toml
!.wakatime.cfg.example
!setup-script.sh
!startup-script.sh
!.SpaceVim.d/autoload/
!.SpaceVim.d/autoload/myspacevim.vim
!.config/
!.config/tilda/
!.config/tilda/config_0
