# Ignore everything in this directory
*
# Except this file
!.gitignore
!README.md
!.tmux.conf
!.wakatime.cfg.example
!setup.sh
!startup.sh
!.config/
!.config/tilda/
!.config/tilda/config_0
!.vimrc
!.vim/
!.vim/nerdtree_git_ignored_files.vim
!.vim/.ycm_extra_conf.py
!.vim/fix_the_issue_between_ycm_and_ultisnips.vim
!.bashrc
!.bash_aliases
!.zshrc
!.zsh_aliases
!.fzf.zsh
